/* ###### RESET MARGIN PADDING CỦA WED ######## */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* ======== HEADER ======== */

.site-header {
    background-color: #262626;
    width: 100%;
}

.site-header .main-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.logo-link img {
    width: 86px;
    height: 71px;
    margin: auto;
}

img {
    display: block;
}

.logo-link {
    font-weight: 700;
    color: #111;
}

.col-full {
    max-width: 75%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2.61em;
}

.search-product form input[type=search] {
    position: relative;
    padding-left: 40px;
    border-radius: 4px;
    border: none;
    clear: both;
    font-size: 16px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    width: 730px;
    height: 46px;
    outline: none;
    color: #222;
}


/* .site-header .secondary-navigation{
    float: right;
    width: auto;
    margin-left: auto;
    padding-left: 1.2rem;
} */

.secondary-navigation ul {
    display: block;
    margin: 0;
    padding-left: 0;
    list-style: none;
    margin-top: 60px;
}

.secondary-navigation ul li {
    display: inline-block;
    position: relative;
    margin-right: 1px;
    text-align: left;
}


/* .secondary-navigation .menu-item{
    border-left: 1px solid #ffffff !important;
} */

.secondary-navigation .ri.menu-item:first-child {
    border: 0 !important;
}

.secondary-navigation .icon-wrapper {
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translate(-50%);
}

.secondary-navigation .icon-wrapper svg {
    width: 28px;
    height: 28px;
    margin-top: 10px;
}

#menu-item-1140 a,
#menu-item-6617 a {
    padding: .7em .875em 0;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: white;
}


/* ======== LÀM LIST MENU ========= */

.col-full-nav {
    background-color: #262626;
}

ul li a {
    color: white;
    text-decoration: none;
}

.main-navigation ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.main-navigation ul li {
    display: inline-block;
    position: relative;
    margin-right: 1px;
    text-align: left;
}

.shoptimizer-primary-navigation {
    display: flex;
}

.menu-primary-menu-container>ul>li>a {
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.menu-primary-menu-container>ul>li>a,
.site-header-cart .cart-contents {
    font-family: sans-serif;
    font-size: 18px;
    letter-spacing: 0px;
}

.menu-primary-menu-container>ul>li>a,
.site-header-cart,
.logo-mark {
    line-height: 40px;
}


/* =========== LÀM SLIDESHOW =========== */

.slide-show-img {
    margin: 10px;
}

.slide-show-img div img {
    padding: 0 5px;
    width: 100%;
    height: 48rem;
}


/* ============ SHOW SẢN PHẨM MỚI VÀ SẢN PHẨM NỔI BẬT =============*/

.main-product {
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.content {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 30px 0;
    text-align: center;
}

.content-wrap h1,
.product-content h1 {
    color: #E86608;
    font-weight: 700;
    letter-spacing: -0.2px;
    text-shadow: -1px 9px 7px rgb(0 0 0 / 30%);
    text-align: center;
}

.extra-content {
    font-size: 20px;
}

.product-content {
    padding: 20px 0;
}

.product .product-image img {
    width: 235px;
    height: 235px;
}

.sale-product {
    margin: 0 25rem;
}

.name-product {
    font-size: 18px;
    font-weight: bold;
}

.price-product {
    font-weight: bold;
    color: #E86608;
    font-size: 18px;
}

.product-list {
    display: grid;
    column-gap: 20px;
    row-gap: 25px;
    grid-template-columns: auto auto auto auto;
}


/* ============== PHẦN FOOTER ============== */

footer.footer {
    background-color: #002300;
    color: #ffffff;
}

footer.footer {
    padding: 4rem 0;
}

footer.footer p {
    font-size: 16px;
    line-height: 1.5;
}

footer {
    clear: both;
    margin-top: 40px;
}

.col-ful {
    max-width: 116em;
}

footer .col-ful {
    display: flex;
    padding-left: calc(5.61em + 20px);
    padding-right: calc(5.61em + 10px);
}

footer .widget {
    position: relative;
    margin: 0;
    padding: 0 26px;
    flex: 1;
}

footer .widget li {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 5px;
}

.widget ul {
    margin-left: 0;
    list-style: none;
}

.widget-title {
    color: #f0c28e;
    font-size: 13px;
    margin-bottom: 15px;
    font-family: sans-serif;
    font-weight: 600;
}